* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.mark {
    display: flex;
    height: 50px;
    padding:15px;
    background: #1abc9c;
    background-color: rgb(5, 5, 160);
    
}

.title {
    color: white;
    font-size: 30px;
    margin-right: 50px;
    
}

header {
    top: 0;
    position: fixed;
    width: 100%;
}

main {
    margin-top: 150px;
    margin-left: 50px;
    margin-right: 50px;
    justify-content:baseline;
}

.buttonHolder {
    top:70px;
    position: fixed;
    width: 100%;
    
    background-color: white;
}


.buttonMenu{  
    background-color: rgb(255, 255, 255);
    border: 1mm,solid,black;
    color :rgb(5, 5, 160);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin:auto;
    margin-top: 0;
    float:left;
    border-color: black;
    border: 1mm;
    
}
.buttonMenu:hover{
    background-color: rgb(5, 5, 160);
    color: white;
    
}

#ferreteriaEjemplo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
   
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: rgb(5, 5, 160)
  }



